
@{
    ViewBag.Title = "Index";
}

<h2>Menu</h2>
<tr>
    <td>
    @Html.ActionLink("Clientes", "Index", "Clientes") |
    @Html.ActionLink("Productos", "Index", "Productos") |
    @Html.ActionLink("Tickets", "Index", "CabeceraTickets" )
    </td>
</tr>